# Server
PORT=3000
NODE_ENV=development

# Database - PostgreSQL
DATABASE_URL="postgresql://postgres:cc@localhost:5432/erp_db?schema=public"
# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Bcrypt
BCRYPT_ROUNDS=10

#Cloudinary
CLOUDINARY_CLOUD_NAME=tên_cloud
CLOUDINARY_API_KEY=mã_api_key
CLOUDINARY_API_SECRET=mã_api_secret